@import "../../common/styles/mixins";

.CardContainer {
  border: 2px solid rgba(255, 255, 255, 0.452);
  @include flex-container(column, space-between, center);
  border-radius: 1rem;
  padding: 1rem;
  background: #ffffff33;

  span {
    text-align: center;
  }
  img {
    width: 68px;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}
