@import "../../common/styles/colors";
@import "../../common/styles/mixins";
.Container {
  padding: 4.125rem;
  color: $text-color;
  text-shadow: 2px 2px $text-shadow-color;

  .ImageContainer {
    .Img {
      width: 6rem;
      height: 6.25rem;
    }
    display: flex;
    justify-content: space-between;
  }

  .Temperature {
    @include flex-container(row, unset, unset);
    font-size: 164px;
    text-shadow: 2px 4px $text-shadow-color;
    .Value {
      font-size: 10rem;
      font-weight: 100;
    }
    .Unit {
      font-size: 2.7rem;
    }
  }
  .DateContainer {
    margin-top: 1rem;
    height: 6.25rem;
    .Date {
      font-weight: 300;
      font-size: 36px;
      line-height: 43.2px;
      margin: 0;
    }
    .Day {
      margin-top: 1rem;
      font-weight: 300;
      font-size: 24px;
    }
  }
  .AdditionalInfo {
    @include flex-container(row, flex-start, center);
    font-size: 22px;
    gap: 1.4rem;
    margin-top: 2.5rem;
    .WindIcon {
      width: 1rem;
      height: 1.25rem;
      margin-right: 0.68rem;
    }
    .divider {
      width: auto;
    }
    .info {
      @include flex-container(row, unset, center);
      width: fit-content;
      span {
        margin: 10px;
      }
    }
  }
}

.CardContainer {
  height: 6.87rem;
  margin-top: 10rem;
  text-shadow: none;
  @include flex-container(row, unset, center);
  .CardsList {
    display: grid;
    grid-gap: 3.25rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .arrowIcon {
    width: 34px;
    margin-left: 4.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
}
